<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OAM</title>
</head>
<body>

    <h1> I'm running up!</h1>
    <br />
    <div>The database information I received is as below.</div>
    <br />
    <div>1) DB host: {{ host }}</div>
    <div>2) DB user: {{ user }}</div>
    <div>3) DB password: It's a secret and I won't let you know :)</div>
    <br /><br />
    <div>The oss information I received is as below.</div>
    <br />
    <div>1) OSS bucket name: {{ oss_bucket_name }}</div>
</div>


</body>
</html>
